body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-size: cover; 
    color: #333;
    height: auto;
    width: auto;
}
  
.app {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    max-width: 800px;
    margin: 20px auto;
}
  
h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 3.3rem;
}
  
.search-bar {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    margin: 0 auto 20px;
    border: 2px solid #000000;
    
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
  
.search-bar:focus {
    border-color: #ffffff;
    outline: none;
}

  
@media (max-width: 768px) {
    .app {
        padding: 10px;
    }
  
    .search-bar {
        width: 90%;
    }
}
  
.filter {
    margin: 10px 0;
}
  
.filter label {
    margin-right: 10px;
}
  
.filter select {
    padding: 5px;
    border-radius: 4px;

}
  
.team-builder {
    padding: 20px;
}
  
.available-players, .selected-players {
    margin-bottom: 20px;
}
  
.player-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}
  
.player-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
  
.player-item button:hover {
    background-color: #0056b3;
}
  
nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
  
nav a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
  
nav a:hover {
    text-decoration: underline;
}
  
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.pagination button {
    background-color: #001279;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.pagination button.active {
    background-color: #001279;
}
  
.pagination button:hover {
    background-color: #001279;
}
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #555;
    color: #fff;
}

nav a.active {
    background-color: #4CAF50;
    color: white;
}